@model KonfidesCase.MVC.Areas.Admin.ViewModels.ActivityDetailVM


<h1>Etkinliği Onayla</h1>
<p>@ViewData["ConfirmActivityMessage"]</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ConfirmActivity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>     
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Organizer" class="control-label"></label>
                <input asp-for="Organizer" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ActivityDate" class="control-label"></label>
                <input asp-for="ActivityDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Quota" class="control-label"></label>
                <input asp-for="Quota" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="IsConfirm" class="control-label"></label>
                <select asp-for="IsConfirm" class="form-control mt-1">                    
                    <option value="true">Onayla</option>
                    <option value="false">Reddet</option>
                </select>                            
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-dark" asp-area="admin" asp-controller="Home" asp-action="GetActivities">Etkinliklere Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}    
}
