@model KonfidesCase.MVC.Areas.Admin.ViewModels.CityVM

<h1>UpdateCity</h1>
<p>@ViewData["UpdateCityMessage"]</p>
<h4>CityVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link-dark" asp-area="admin" asp-controller="Home" asp-action="GetCities">Şehirlere Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
